@model string
@section SPAViews {
    @Html.Partial("_Home")
}
@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
}

<h4>Document sent!</h4>
<h5>RequestId: @Model</h5>